{% extends "base.html" %}
{% block title %}Segmentfault_Blog{% endblock %}
{% block main %}
<h2>总数据条数</h2>
{{ count }}
<h2>数据展现日期</h2>
{{ today }}
<h2>浏览数 Top10</h2>
{% for view in views %}
<li><a href="http://segmentfault.com/blog/{{ view.name }}/{{ view.bid }}" target="_blank">{{ view.title }} ({{ view.view }})</a></li>
{% endfor %}
<h2>收藏数 Top10</h2>
{% for view in marks %}
<li><a href="http://segmentfault.com/blog/{{ view.name }}/{{ view.bid }}" target="_blank">{{ view.title }} ({{ view.mark }})</a></li>
{% endfor %}
<h2>推荐数 Top10</h2>
{% for view in recommend %}
<li><a href="http://segmentfault.com/blog/{{ view.name }}/{{ view.bid }}" target="_blank">{{ view.title }} ({{ view.recommend }})</a></li>
{% endfor %}
{% endblock %}
